body {
    background-color: #E2AC7F;
    color: #000000;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    padding: 0 20px;
}

main {
    background-color: #F5F5DC;
    width: 568px;
    margin: 0 auto;
    border: black 4px dotted;
}

#wrap p {
    margin: 15px;

}

h1 {
    font-family: Impact, fantasy;
    font-style: italic;
    font-weight: bold;
    border-bottom: black 4px dotted;
    text-align: center;
    margin-top: 0;
    font-size: 32px;
}

li::first-letter {
    font-size: 135%;
}


ul {
    text-align: center;
    list-style-type: none;
    font-style: italic;
    font-size: 120%;
}

a:visited {
    color: #800080;
}

p a {
    text-decoration: none;
}


.copyright {
    text-align: center;
    font-size: 10px;
}